
.homepage-categories .thumbnail {
  display: inline-block;
  min-width: 120px;
  text-align: center;
  border: none;
  padding: 10px;
  transition: background-color .5s;
}

.homepage-categories .thumbnail img {
  height: 80px;
}

.thumbnail:hover {
    background-color: gold
}

body {
 background-image: url("../img/background/DC_skyline.jpg");
 background-color: #cccccc;
}
