
.homepage-categories .thumbnail {
  display: inline-block;
  min-width: 120px;
  text-align: center;
  border: none;
  padding: 10px;
  transition: background-color .5s;
  border-radius: 15px 15px 15px 15px;
}

.homepage-categories .thumbnail img {
  height: 80px;
}

.thumbnail:hover {
    background-color: gold
}

.jumbotron {
  font-weight: bold;
  background-color: transparent;
}

.jumbotron p {
  font-weight: bold;
}

jumbotron .h1 {
  font-weight: bold;
}

body {
 background-image: url("../img/background/DC_skyline.jpg");
 background-color: #636C70;
 color: white;
 font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
 font-weight: bold;
 line-height: 1.1;
}

dataset {
  display: block;
  border-bottom: 1px #d6d6d6 solid;
  padding-bottom: 20px;
  background-color: #636C70;
  color: white;
}

.row {
  background-color: #636C70;
  border-bottom:10px solid #636C70;
  opacity: 0.88;
  /* color: white; */
  border-radius: 10px 10px 10px 10px;
  font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
  font-weight: bold;
  line-height: 1.1;
}

.row h3{
  color: white;

}

span.list-group-item-truncate{
  color: purple;
  font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
  font-weight: bold;
  line-height: 1.1;
}

h3>a{
  color: #ffc107;
  font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
  font-weight: bold;
  line-height: 1.1;
}

div.col-sm-12{
  border-radius: 10px 10px 10px 10px;
  color: white;
  font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
  font-weight: bold;
  line-height: 1.1;
}
/* div.col-sm-12>h1>span, div.col-sm-12>h2, div.col-sm-12>p {
  color: white;
} */
div.col-sm-12>ul>li>a>span{
  color: gold;
}

table>tbody>:nth-child(odd)>th, table>tbody>:nth-child(odd)>td, table>tbody>:nth-child(odd)>td>a {
  color: purple;
}

table>tbody>:nth-child(even)>th, table>tbody>:nth-child(even)>td, table>tbody>:nth-child(even)>td>a {
  color: gold;
}


div.col-sm-12>ul>li>a>span:hover, table>tbody>:nth-child(odd)>td>a:hover, table>tbody>:nth-child(even)>td>a:hover {
  color: blue;
}



h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
    font-weight: bold;
    line-height: 1.1;
    color: inherit;
}

.btn-lg{
  border-radius: 15px 15px 15px 15px;
}

/* .col-sm-12 {
    color: white;
    background-color: #636C70;
    opacity: 0.88;
} */
