
.homepage-categories .thumbnail {
  display: inline-block;
  min-width: 120px;
  text-align: center;
  border: none;
  padding: 10px;
  transition: background-color .5s;
  border-radius: 15px 15px 15px 15px;
}

.homepage-categories .thumbnail img {
  height: 80px;
}

.thumbnail:hover {
    background-color: gold
}

body {
 background-image: url("../img/background/DC_skyline.jpg");
 background-color: #636C70;
 color: white;
}

dataset {
  display: block;
  border-bottom: 1px #d6d6d6 solid;
  padding-bottom: 20px;
  background-color: #636C70;
}

.col-sm-4 {
    color: white;
    background-color: #636C70;
    opacity: 0.88;
}

.col-sm-8 {
    color: white;
    background-color: #636C70;
    opacity: 0.88;
    border: 0.1;
}

.jumbotron {
  font-weight: bold;
  background-color: transparent;
}

.jumbotron p {
  font-weight: bold;
}

a {
    color: #ffc107;
    text-decoration: none;
    font-weight: bold;
}

jumbotron .h1 {
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
    font-weight: bold;
    line-height: 1.1;
    color: inherit;
}

.btn-lg{
  border-radius: 15px 15px 15px 15px;
}

.col-sm-12 {
    color: white;
    background-color: #636C70;
    opacity: 0.88;
}
